<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Quoty</h1>

  <p>
    Quoty was built by Brian under the direction of the Firehose Project.  This is the second 
    version of the first app built during the program.  
    </p>


<div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Brian Durbin</h2>
    <br />
    <p>
      Brian Durbin is a web developer working on several open source projects, web applications, and working with non-profits.  He currently resides in South Carolina with his wife and family.  Anywhere on the beach is his favorite place to be. 
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />